*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

header {
  color: #fff;
  height: 50px;
  width: 800px;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#word {
  letter-spacing: 3px;
}

main {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

#players-wrapper {
  width: 100px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.player-info[data-drawer="1"] {
  color: deepskyblue;
}

.game-wrapper {
  width: 800px;
  height: 800px;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.chat-wrapper {
  width: 300px;
  height: 800px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: #fff;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
}
#chat-log {
  width: 100%;
  height: 750px;
}
#chat-form {
  width: 100%;
  height: 50px;
}
#chat-form input {
  width: 100%;
  height: 25px;
}
#chat-form button {
  width: 100%;
  height: 25px;
}

.color-selector {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: repeat(16, 50px);
}

.color {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  cursor: pointer;
}

.size-selector {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: repeat(5, 50px);
  margin: 5px;
}

.size {
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 50%;
  transform: scale(calc(0.05 * var(--i))) translateX(calc(3px * var(--i)));
}

#clear-canvas {
  font-size: 2.5rem;
  margin: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
